$color-blue: #03a9f4;
$color-yellow: #f9e604;
$color-red: #f90004;
$color-grey: #EEE;
$color-grey-dark: #555;
$spacing-standard: 1rem;
$z-index-command-window: 2;

body {
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-size: inherit;
}

input {
    outline: none;
}

#livelang-root {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    overflow:hidden;
}

.horizontal {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    min-width: 300px;
    background: $color-grey-dark;
}

.moduleView {
    .module {
        >.children .module {
            padding-left: 25px;
        }

        cursor: pointer;
        >.flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            >* {
                margin: $spacing-standard / 4 $spacing-standard;
            }
            >.spacer {
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
        &.-current {
            background: $color-blue;
            color: white;
        }
        background: $color-grey-dark;
        color: white;

        .fa {
            font-size: 16px;
            background: black;
            border-radius: 100%;
            &, &:before {
                height: 1.5em;
                width: 1.5em;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover {
                background: darken($color-grey, 20%);
            }
        }
    }
}

.buttons {
    background: #EEE;
    display: flex;
    > * {
        margin: $spacing-standard/2 $spacing-standard/2;
    }
    margin-bottom: $spacing-standard*2;
}

.content {
    border: 1px solid #EEE;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

.scopeNode {
    border: 1px solid transparent;
    display: table;
    &:hover {
        border-color: $color-blue;
    }

    input {
        border: none;
        &:focus {
            outline: none;
        }
    }
}

.codeLine {
    border-bottom: 1px solid $color-grey;
}

.variableDeclaration {
    >.mutable {
        
        +label {
            opacity: 0.25;
        }
        &:checked+label {
            opacity: 1;
        }
    }
}

.code {
    max-width: 100vw;
    overflow: hidden;
    font-family: 'menlo', monospace;
    letter-spacing: -0.03em;
    > * {
        display: inline-block;
        
        &:focus {
            outline: none;
        }

        &.-new-input {
            opacity: 0.5;
        }

        &.-is-pending {
            background: dodgerblue;
            color: white;
        }

        &.-has-errors {
            color: red;
        }
    }
}

.test-container {
    min-height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    > * {
        &:first-child {
            width: 50%;
        }
        width: 25%;
        min-height: 100%;
        overflow-y: scroll;
        font-family: 'menlo', monospace;
    }
}

.line-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: $color-grey-dark;
    min-height: 100%;
    overflow-y: scroll;

    span.text {
        &, &:focus, &:active, &:hover {
            border: 1px solid transparent;
            outline: none;
        }
    }

    >.lines {
        position: relative;
        background: white;
        margin: 0 auto;
        margin-right: 0;
        flex-grow: 1;
        max-width: 50em;
        
        .line {
            border-bottom: 1px solid $color-grey;
            position: relative;
            &:focus {
                border-color: darken($color-grey, 10%);
            }

            .text.-warning {
                border-bottom: 1px solid $color-yellow;
            }
            .text.-error {
                border-bottom: 1px solid $color-red;
            }
            .text:hover >.decoration.-hover {
                display: block;
            }
            .text >.decoration.-hover {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background: $color-grey;
                z-index: 2;
                border-bottom: 2px solid #CCC;
                padding: $spacing-standard/3 $spacing-standard/2;
            }

            >.decoration.-lineStart {
                position: absolute;
                right: calc(100% + 2rem);

                .type {
                    padding: 0 0.5em;
                    background: $color-blue;
                    color: white;
                    border-radius: 9px;
                    margin: 0 .5em;
                }
            }
        }
    }
}

.project-view {
    position: fixed;
    left: 0; top: 0; width: 100%; height: 100%;

    .content {
        width: 100%; height: 100%;
    }
}

.command-window {
    z-index: $z-index-command-window;
    font-size: 1em;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;

    input {
        padding: 0.25em 0.5em;
        width: 100%;
    }

    background: $color-grey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    .result {
        &.-selected {
            background: darken($color-grey, 10%);
        }

        padding: 0.25em 0.5em;
    }

    .no-results {
        text-align: center;
        font-size: 0.9em;
        padding-top: 0.5em;
    }
}